*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    padding: 0 1rem;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    color: chocolate;
}

h2{
    display: flex;

    margin: 1rem 0rem;
    color: chocolate;
}

h3{
    display: flex;

    margin: 1rem 0;
    color: chocolate;
}


